<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="rviz" default="true"/>
  <arg name="map_file" default="$(find robot_model)/maps/my_race_track.yaml"/>

  <param name="/use_sim_time" value="true" />

  <param name="robot_description" command="$(find xacro)/xacro $(find robot_model)/urdf/robot.xacro" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find race_gazebo)/worlds/race.world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model challenge_robot -param robot_description -x 0 -y 0 -z 0.1" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="use_map_topic" value="true"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>
    <param name="initial_pose_x" value="0.0"/>
    <param name="initial_pose_y" value="0.0"/>
    <param name="initial_pose_a" value="0.0"/>
  </node>

  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_model)/config/show_mycar.rviz" />
  </group>
</launch>
